@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "Roboto", sans-serif;
  background: url("../image/Flag3.jpg") no-repeat center center fixed;
  background-size: cover;
}

/* Wrapper */
.login-wrapper-e4 {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}

/* Titles */
.page-title-e4 {
  position: absolute;
  top: 20px;       /* adjust higher or lower */
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

.title-sinhala {
  font-size: 1.8rem;
  font-weight: 700;
  color: black;
  margin: 0;
}

.title-english {
  font-size: 1.2rem;
  color: black;
  margin-top: 8px;
}

/* Card */
.login-card-e4 {
  background-color: rgba(255, 253, 253, 0.92);
  padding: 40px;
  border-radius: 15px;
  text-align: center;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
  width: 420px;
  height: 420px; 
}

.login-card-e4 h1 {
  margin-bottom: 15px;
  font-size: 1.6rem;
  color: #000;
}

.login-card-e4 form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-card-e4 label {
  font-weight: bold;
  margin-bottom: 5px;
  color: #000;
}

.login-card-e4 input {
  padding: 10px;
  width: 250px;
  background-color: #e0f2f1;
  border: none;
  color: #000;
  font-size: 16px;
  margin-bottom: 20px;
  border-radius: 5px;
}

/* Buttons Row */
.button-row {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.login-card-e4 button {
  background-color:#990099;
  color: white;
  padding: 10px 25px;
  border: none;
  border-radius: 10px;
  font-size: 15px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.login-card-e4 button:hover {
  background-color: #990099;
}

.view-btn {
  background-color: #388e3c;
}

.view-btn:hover {
  background-color: #2e7d32;
}

/* Rectangular Next Button */
.next-btn {
  background-color: #007bff;   /* blue */
  color: white;
  padding: 12px 25px;
  border: none;
  border-radius: 1px;           /* small radius to make rectangle */
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.next-btn:hover {
  background-color: #0056b3;   /* darker blue on hover */
}

/* Error message */
.error-message {
  margin-top: 15px;
  color: red;
  font-size: 14px;
}

.attendance-row {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.attendance-btn {
  background-color: #f57c00; /* orange shade */
  color: white;
  padding: 10px 25px;
  border: none;
  border-radius: 25px;
  font-size: 15px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.attendance-btn:hover {
  background-color: #ef6c00;
}

.button-group-8 {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin-top: 10px;
}