


.buttons {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}



button {
  background-color: #2f1fe0;         
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  border: 2px solid white;        
  border-radius: 12px;
  box-shadow: 0 0 5px white;       
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

button:hover {
  background-color: #1e3a8a;
  box-shadow: 0 0 15px 5px white;
  transform: scale(1.05);
}

.main-button {
  font-size: 18px;
  padding: 15px 20px;
}