.nic-page {
  height: 100vh;
  background: url('./image/Flag3.jpg') no-repeat center center fixed;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #000;
  padding-top: 30px;
}

.header {
  text-align: center;
  margin-bottom: 20px;
  color: black;
  text-shadow: 1px 1px 4px #ffffff;
}

.voter-card {
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  padding: 30px 40px;
  border-radius: 15px;
  width: 350px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.voter-card label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.voter-card input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: none;
  background-color: rgba(0, 255, 255, 0.2);
  border-radius: 6px;
  font-size: 16px;
  pointer-events: none;
  color: black;
  font-weight: 500;
}

.confirm-btn {
  display: block;
  width: 100%;
  padding: 12px;
  font-size: 16px;
  background-color: royalblue;
  color: white;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.confirm-btn:hover {
  background-color: navy;
}
